@import '~@zimbra/x-ui/refs.less';
@import '~@zimbra/x-ui/helpers.less';

.saveTemplateModal {
	width: 300px;

	@media(max-width: @screen-md) {
		width: 100%;
		height: 100%;
	}

	.header {
		height: auto;

		h2 {
			padding-left: 27px;
			font-family: @headings-font-family;
			font-weight: @headings-font-weight;
		}

		@media(max-width: @screen-md) {
			flex: none;
			border-bottom: 1px solid @gray-lighter;
			height: 60px;
			h2 {
				padding-top: 15px;
			}
		}
	}

	.content {
		margin-top: 0;
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;
		
		@media(max-width: @screen-md) {
			flex: auto;
			padding-bottom: 15px;
			max-height: calc(100% - 150px);
		}
		
		.dataInner {
			box-sizing: border-box;
			height: 300px;
			display: flex;
			border-top:  1px solid var(--gray-lighter);
			border-bottom: 1px solid var(--gray-lighter);

			.leftSide {
				background-color: var(--gray-lightest);
				width: 100%;
				height: 100%;
				overflow-y: auto;
				padding: 5px;

				.saveTip {
					margin: 0 auto;
   					padding: 5px 15px;
				}
			}
		}
	}

	.footer {
		padding-left: 27px;
		padding-top: 15px;
	}
}